@charset "utf-8";
/*CSS Document*/
.bodyLearn{
    width:100%;
}
.bodyLearn .learnContent{
    width:1000px;
    margin:0 auto;
    min-height: 600px;
}
.learnContent .learnBox{
}
/*learnBox*/
.learnBox{
    padding:14px 21px;
    margin-bottom:130px;
}
.learnBox .firstNavs{

}
.firstNavs .firstNav{
    display: inline-block;
    font-size: 15px;
    color:black;
    line-height:30px;
    padding:0 14px;
    border-radius:5px;
}
.firstNavs .firstNav_red{
    color:#fe4e4e;
    background-color: #ffe0e0;
}
